body {
  --pink: #FF1C68;
  --green: #14D790;
  --blue: #198FE3;
  --black: #21282D;
  --purple: #9B65DE;
  color: #222;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.pen {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  flex: 1 1 100%;
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.created-by {
  flex: 0 0 50px;
  background: #fff;
  color: #222;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.logo {
  margin-left: 10px;
}

h1 {
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 10px;
}

.pen a {
  color: var(--blue);
  text-decoration: none;
  margin-bottom: 70px;
}

.carousel {
  display: flex;
  align-items: stretch;
  height: 150px;
  position: relative;
  

}

.item {
  background: var(--purple);
  border-radius: 5px;
  margin-right: 15px;
  flex: 0 0 110px;
}

.item:hover{

}
/* 
.item:nth-child(4n + 2) {
  background: var(--green);
}

.item:nth-child(4n + 3) {
  background: var(--pink);
}

.item:nth-child(4n + 4) {
  background: var(--blue);
} */

/* .flipContainer, .front, .back {
  width: 150px;
  height: 100px;
} */

.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.front{
  z-index: 2;
  transform: rotateY(0deg);
  /* background-color: red; */
}

.back {
  transform: rotateY(180deg);
  /* background-color: blue; */
}

.flipContainer:hover .flipper, .flipContainer.hover .flipper 
{
  transform: rotateY(180deg)
}