.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .Absolute-Center.is-Responsive {
    width: 50%; 
    height: 25%;
    min-width: 400px;
    max-width: 1000px;
    padding: 40px;
  }

  #map-location {
    height: 500px; 
    width: 100%; 
  }